@font-face {
    font-family: 'JuraVariable';
    src: url('./fonts/Jura-Variable/Jura-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'ShareTechMono';
    src: url('./fonts/ShareTechMono/ShareTechMono-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "JuraVariable";
    background-color: #171717;
}

body > div {
    min-width: 800px;
    min-height: 100vh;
    background: url('./bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    font-size: 20px;
    letter-spacing: 4px;
    color: #000000;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    text-transform: uppercase;
    display: inline-block;
}

h2 {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 0 20px 0;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
    background: rgba(0, 0, 0, 0.3);
}

h3 {
    display: inline-block;
    padding: 5px 10px;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: rgba(0, 0, 0, 0.2);
}

h4 {
    margin-bottom: 10px;
}

a {
    color: #777777;
}

a:hover {
    color: #FFFFFF;
}

i {
    font-size: 11px;
    display: block;
    margin-left: 30px;
    text-align: justify;
    color: #777;
    font-family: "ShareTechMono", "JuraVariable";
}

i:hover {
    color: #f2f2f2;
}

input {
    padding: 7px 5px;
    color: #343434;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.4) inset;
    -moz-box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.4) inset;
    box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.4) inset;
}

input.error {
    border: 2px solid red;
}

select {
    padding: 7px 5px;
    color: #343434;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.4) inset;
    -moz-box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.4) inset;
    box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.4) inset;
}

textarea {
    width: 500px;
    height: 200px;
    padding: 5px;
    color: #343434;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
}

button, .btn {
    padding: 4px 16px;
    display: inline-block;
    font-size: 14px;
    font-family: 'JuraVariable';
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
    letter-spacing: 1px;
    color: #171717;
    background: #ffc123;
    background: linear-gradient(to bottom, #ffc226 0%, #8b5800 100%);
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 87%), inset 0px 1px 0px 0px rgb(255 255 255 / 30%);
    cursor: pointer;
}

.btn:hover {
    padding: 2px 14px;
    border: 2px solid #f2f2f2;
    color: #171717;
}

button:hover {
    border: 2px solid #f2f2f2;
}

button.save {
    display: block;
    margin: 0 auto;
}

.btn-green {
    background: #278903;
    background: -moz-linear-gradient(top, #d1ff29 0%, #278903 100%);
    background: -webkit-linear-gradient(top, #d1ff29 0%, #278903 100%);
    background: linear-gradient(to bottom, #d1ff29 0%, #278903 100%);
}

.btn-border {
    border: 2px solid #333;
}

.btn-border:hover {
    padding: 4px 16px;
    border: 2px solid #f2f2f2;
}

.main {
    position: relative;
    min-height: calc(100vh - 270px);
    padding: 0px 20px;
    z-index: 20;
}

header {
    padding: 0px 20px;
}

header button.logout {
    border: 0;
    border-radius: 0px;
    float: right;
    padding: 13px 7px;
    transition: 300ms;
    opacity: 0.4;
    background: linear-gradient(to bottom, #ffc226 0%, #cf8b14 10%, #ffc226 50%, #ffc226 90%, #cf8b14 100%);
}

header button.logout:hover {
    border: 0;
    opacity: 0.75;
    padding: 13px 7px;
}

header > .box {
    text-align: center;
    background-color: #000000;
}

footer {
    padding: 20px 0px;
    width: 100%;
    min-height: 20px;
}

footer > div {
    padding: 0px 20px;
    text-align: center;
}

footer > div p {
    margin-top: 20px;
    font-size: 9px;
    text-align: justify;
}

footer img {
    width: 125px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer span {
    color: white;
}

#objects {
    width: 100%;
    background-color: rgba(75, 75, 75, 0.25);
}

#objects .objects-list {
    overflow: auto;
    color: #171717;
}

#objects .objects-list > div {
    padding: 20px;
}

#objects .objects-list > div > .object {
    padding-left: 10px;
    padding-bottom: 5px;
}

#objects .objects-list > div > div {
    border-bottom: 1px solid #5c5c5c;
}

#objects .object-description {
    padding: 25px 20px;
    overflow: auto;
    color: #ababab;
    border-left: 2px solid #000000;
    background-color: rgba(200, 200, 200, 0.85);
    background: url('./bg_c.jpg');
}

#objects .title {
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    line-height: 33px;
    padding: 1px 20px;
    background: rgba(225, 225, 225, 0.6);
    border-radius: 3px;
}

#objects .title:hover {
    background: rgba(225, 225, 225, 1);
}

#objects .btn {
    margin-right: 5px;
    float: left;
    padding: 9px 10px;
    border: 0px;
}

#objects .btn:hover {
    padding: 9px 10px;
}

#objects span {
    display: inline-block;
    height: 33px;
    line-height: 33px;
}

#objects .object {
    margin-top: 5px;
    padding: 0px 40px 0px 40px;
    background-color: rgba(50, 50, 50, 0.1);
}

#objects h4 {
    margin: 0;
}

#technologies {
    margin-top: 50px;
    width: 100%;
    z-index: 10;
    position: absolute;
    font-size: 40px;
    color: #FFFFFF;
}

#technologies span {
    display: block;
    opacity: 0.1;
}

#technologies #t1 {
    margin-left: calc(52% + 180px);
}

#technologies #t2 {
    margin-left: calc(52% + 227px);
}

#technologies #t3 {
    margin-left: calc(52% + 275px);
}

#technologies #t4 {
    margin-left: calc(52% + 322px);
}

#technologies #t5 {
    margin-left: calc(52% + 370px);
}

.container {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    line-height: 20px;
}

.canvas-container {
    padding: 20px 20px 15px 20px;
}

.canvas-container .rack-left {
    position: absolute;
    left: -2px;
    margin-top:-3px;
}

.canvas-container .rack-right {
    position: absolute;
    right: 5px;
    margin-top:-3px;
}

.code {
    border: 2px dotted rgba(255, 255, 255, 0.5);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.55);
}

table {
    border-top: 5px solid #171717;
    border-bottom: 5px solid #171717;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    border-spacing: 0px;
    border-collapse: separate;
}

table, .container button {
    margin: 0 auto;
}

table td, table th {
    padding: 5px 20px;
    color: #171717;
    border-bottom: 1px solid #ececec;
}

table th {
    text-transform: uppercase;
    background: linear-gradient(to bottom, #ffffff 0%, #9f9f9f 2%, #878787 55%, #6a6a6a 98%, #000000 100%);
}

table.edit-table th {
    padding: 10px 20px;
    margin: -30px 0px 0px 10px;
    color: #ffffff;
    position: absolute;
    text-align: center;
    transform: skew(5deg, 0deg);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 1);
}

table.list-table {
    width: 100%;
    text-align: left;
}

table.list-table .btn {
    float: right;
    margin-left: 5px;
}

.edit-table {
    margin-top: 30px;
}

#authorization {
    border-top: 1px solid #282828;
    border-bottom: 1px solid #000000;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(85, 85, 85, 0.25) 25%, rgba(0, 0, 0, 0.65) 100%);
}

#authorization table {
    background-color: rgba(65, 65, 65, 0.8);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}

#authorization table.error {
    box-shadow: 0px 0px 10px 0px rgb(255, 0, 0);
}

#authorization .light {
    margin-top: -20px;
    margin-left: -22px;
    height: 70px;
    width: 200px;
    background: url('/public/auth-light.png');
    position: absolute;
    opacity: 0.3;
    transition: all 1s;
}

#authorization:hover .light {
    opacity: 1;
}

#authorization table.error .light {
    background: url('/public/auth-light-red.png');
}

#authorization th, #authorization td {
    border-bottom: 1px solid #2b2b2b;
}

#authorization .auth-form-label {
    text-align: right;
    padding-right: 0px;
    color: #FFFFFF;
}

#authorization .auth-form-input input {
    border: 2px solid #424242;
    border-top: 2px solid #303030;
    background-color: #777;
}

#authorization .auth-form-input input:focus {
    outline: none;
    background-color: #FFFFFF;
}

#authorization .auth-form-header {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #ffffff 0%, #8a8989 2%, #6f6f6f 55%, #202020 98%, #000000 100%);
}

#authorization .auth-form-header .form-title {
    background-color: rgba(200, 200, 200, 0.25);
    padding: 5px 150px;
    border-bottom: 1px solid #bdbdbd;
    background: linear-gradient(to bottom, #958585 0%, #767676 2%, #7c7c7c 55%, #5e5e5e 98%, #212121 100%);
}

#authorization .auth-form-header .form-title span {
    color: rgb(200, 200, 200);
    font-weight: 100;
    transition: all 0.5s;
}

#authorization:hover .auth-form-header .form-title span {
    color: rgb(220, 220, 220);
}

#authorization .auth-form-submit-area {
    padding: 5px 20px 20px 20px;
    text-align: center;
}

#authorization .message.error {
    background-color: rgba(0, 0, 0, 0.2);
}

.success-icon {
    font-size: 11px;
    color: #ffffff;
    padding: 3px 20px 7px 20px;
    border-radius: 5px;
    background: rgb(0, 175, 0);
    background: linear-gradient(180deg, rgba(0, 175, 0, 1) 15%, rgb(22 141 0 / 72%) 80%, rgba(0, 0, 0, 0.85) 100%);
    border-top: 5px solid #323232;
}

.tested {
    border-left: 2px solid #fff;
    margin-top: 5px;
    padding: 5px 10px;
    display: inline-block;
    background-color: #121212;
    background: linear-gradient(180deg, rgba(55, 55, 55, 0.25) 0%, rgba(134, 134, 134, 0.25) 65%, rgba(0, 0, 0, 0.25) 100%);
}

.message {
    font-size: 11px;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    border-top: 5px solid #323232;
}

.message.error {
    padding: 3px 10px 5px 10px;
    background-color: rgba(255, 0, 0, 0.7);
    margin-top: 1px;
    font-size: 11px;
    color: white;
}

.success {
    color:rgb(0, 175, 0);
}

.error {
    color:rgb(220, 0, 0);
}

.align-center {
    text-align: center;
}

.invisible {
    display: none;
}

.switch-panel table {
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}

.switch-panel table td {
    color: #fff;
}

.switcher {
    width: 77px;
    height: 20px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.75);
    background: repeating-radial-gradient(circle at 50% 50%, rgba(200, 200, 200, .2) 0%, rgba(200, 200, 200, .2) 2%, transparent 2%, transparent 3%, rgba(200, 200, 200, .2) 3%, transparent 3%), conic-gradient(white 0%, silver 10%, #efefef 35%, silver 45%, black 60%, silver 70%, white 80%, silver 95%, white 100%);
    box-shadow: 0px 0 5px 1px #ffffff;
}

.switcher input[type="checkbox"] {
    display: none;
}

.switcher label {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    background: #cf8b14;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2) inset;
    transition: background 1.8s;
    cursor: pointer;
}

.switcher label:before {
    position: absolute;
    top: -2px;
    width: 20px;
    height: 20px;
    content: "";
    background: #cf8b14;
    border: 2px solid rgb(0 0 0 / 50%);
    box-shadow: 0 0 0 1px #000000, inset 1px 3px 6px rgb(0 0 0 / 30%);
    transition: background 1.8s;
}

.switcher label:before {
    left: 58px;
    background: #cec2c0;
}

.switcher input[type="checkbox"]:checked + label {
    background: linear-gradient(180deg, rgba(0, 175, 0, 1) 15%, rgba(19, 124, 0, 0.85) 60%, rgba(22, 141, 0, 0.72) 100%);
}

.switcher .handle {
    position: absolute;
    top: -2px;
    left: -5px;
    width: 30px;
    height: 22px;
    background: rgba(85, 85, 85, 1);
    background: linear-gradient(180deg, rgba(85, 85, 85, 1) 2%, rgba(0, 0, 0, 0.8547794117647058) 98%);
    border: 1px solid #2e2e2e;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
    transition: left .3s;
}

.switcher input[type="checkbox"]:checked + label > .handle {
    left: calc(100% - 25px);
}

.switcher input[type="checkbox"]:checked + label:after {
    background: #d1cac9;
}

.switcher input[type="checkbox"]:checked + label:before {
    background: linear-gradient(180deg, rgba(0, 175, 0, 1) 15%, rgba(18, 117, 0, 0.72) 80%, rgba(0, 175, 0, 1) 100%);
}

@media (min-width: 1400px) {
    body > div {
        background: url('./bg_4k.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
    header {
        padding: 0px;
    }

    header button.logout {
        border: 0;
        border-radius: 0px;
        float: right;
        padding: 22px 16px 17px 16px;
        transition: 300ms;
        opacity: 0.6;
        background: linear-gradient(to bottom, #ffc226 0%, #cf8b14 10%, #ffc226 50%, #ffc226 90%, #cf8b14 100%);
    }

    header button.logout:hover {
        border: 0;
        opacity: 0.75;
        padding: 22px 16px 17px 16px;
    }

    .container {
        font-size: 7px;
    }

    h1 {
        font-size: 20px;
        margin: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
    }

    i {
        font-size: 5px;
    }

    .auth-form-header span {
        font-size: 14px;
        color: white;
    }

    .auth-form-label label {
        font-size: 14px;
    }

    .edit-table label {
        font-size: 20px;
    }

    .edit-table input {
        width: 98%;
    }

    .edit-table input, .edit-table select {
        height: 30px;
        font-size: 20px;
    }

    .edit-table textarea {
        font-size: 20px;
    }

    .edit-table select {
        width: 100%;
        height: 50px;
    }

    .list-table {
        font-size: 20px;
    }

    .tested {
        font-size: 17px;
    }

    .tested i {
        margin-left: 0px;
        font-size: 15px;
    }

    #technologies #t4 {
        display: none;
    }

    #technologies #t5 {
        display: none;
    }

    .success-icon {
        font-size: 5px;
    }
}

@media (max-width: 800px) {
    #technologies {
        display: none;
    }
}

@media (min-width: 1000px) {
    #objects {
        display: table;
    }

    #objects .row {
        display: table-row;
    }

    #objects .objects-list {
        display: table-cell;
        width: 75%;
    }

    #objects .object-description {
        display: table-cell;
        width: 25%;
    }
}